.nonborderbox *
{
-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      box-sizing: content-box;
} 

body{
	background-color: #d2d6de;
}

.prayer-header{
	background-color: #298bce;
}

.prayer-header img{
	margin: auto;
	padding-bottom: 15px;
	padding-top: 15px;
}

.prayer-todays{
	margin: auto;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

.prayer-todays h2{
	color: #f3992f;
}

.prayer-message{
	margin: 0 auto;
	text-align: center;
	background-color: #ffffff;
	width: 50%;
	padding: 15px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}

.prayer-image img{
	margin: auto;
	width: 50%;
}

.prayer-verse{
	background-color: #c0e5ff;
	margin: auto;
	width: 50%;
	padding: 15px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 15px;
}

.prayer-verse span{
	display: block;
}

.prayer-verse .verse-message{
	color: #333333;
}

.prayer-verse .verse{
	color: #015b99;
	text-decoration: underline;
}

.social-share{
	margin: auto;
	width: 50%;
	margin-bottom: 20px;
	text-align: center;
	padding: 15px;
}

.comment-box{
	margin: auto;
	width: 50%;
	margin-bottom: 20px;
	background-color: #ffffff;
	text-align: center;
}


@media (max-width: 768px) {
	.prayer-message, .prayer-image img, .prayer-verse, .social-share, .comment-box{
		width: 85%;
	}
}

@media (max-width: 300px) {
	.prayer-message, .prayer-image img, .prayer-verse, .social-share, .comment-box{
		margin: 0px 0px;
		width: auto;
	}
}


/*.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
	padding-bottom: 20px !important; 
}

.stButton .chicklets {
	padding: 10px !important;
}
*/